body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
.hero {
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    flex-shrink: 0;
}

.header-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 32px;
}

header {
    padding-top: 8px;
    align-items: center;
    justify-content: space-around;
}
